.brand {
    text-transform: uppercase;
    width: 35%;
    line-height: 1;
    align-self: flex-start;
    background-image: url(../../images/onews.svg);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-size: 35px;
    font-size: 1.8em;
    background-position: 0 4px;
    margin-left: 1em;
    margin-top: 1em;
    float: left;
    & a {
        color: $white;
    }

 
}